.tit-sub01 {
    text-align: center;
    font-size: 28px;
    color: #222;
    margin: 50px 0 0px 0;
}
.tit-sub02 {
    text-align: center;
    font-size: 13px;
    color: #999;
    margin: 5px 0 45px 0;
    font-family: 'Open Sans', Arial, Verdana, sans-serif;
}
.com1 td {
        border-bottom: 1px #cccccc solid;
        border-right: 0px #e5e5e5 solid;
        padding: 4px;
        color: #777;
        font-size: 14px;
        height: 54px;
        
}
.com1 {
    width: 100%;
    border-top: 3px #666 solid;
    border-bottom: 0px #999999 solid;
    border-left: 0px #e5e5e5 solid;
    margin-bottom: 100px;
    
}
.com1 th {
    height: 54px;
    background-color: #f7f7f7;
}
.com_list select {
    font-size: 13px;
    padding: 4px 5px 4px 5px;
    border: 1px solid #aaa;
    color: #777777;
}
.com_list input {
        font-size: 13px;
        padding: 5px 5px 5px 5px;
        margin: 0 0 0 2px;
        border: 1px solid #aaa;
}
.com_list {
    margin-bottom: 100px;  
}
.th01{
    width: 20%;
    text-align: center;
    border-bottom: 1px solid #cccc;
}
