.tit-sub01 {
    font-size: 28px;
    color: #222;
    margin: 50px 0 0px 0;
}
.tit-sub02 {
    font-size: 13px;
    color: #999;
    margin: 5px 0 45px 0;
    font-family: 'Open Sans', Arial, Verdana, sans-serif;
}
.col-md-3 {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.gallery_title {
    font-size: 1.1em;
    font-weight: normal;
    font-family: Noto Sans KR,맑은 고딕,돋움,굴림;
    color: #666;
    line-height: 24px;
}
.search {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: start;
}
.search select {
    font-size: 13px;
    padding: 4px 5px 4px 5px;
    border: 1px solid #aaa;
}
.search input {
    font-size: 13px;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 2px;
    border: 1px solid #aaa;
    font-family: inherit;
    /* font-size: inherit; */
    line-height: inherit;
}